<p>Here is an example of a union table with data, fetched with the command <pre><code><%= @unionQ %></code></pre>.
<table class="table table-striped table-responsive">
  <tr>
  <%@tableHead.each do |headerData| %>
    <th><%= headerData %></th>
  <% end %>
</tr>
<%@tableGetter.each do |row| %>
<tr>
  <td><%= row["Building_Type"] %></td>
  <td><%= row["Amenities"] %></td>
  <td><%= row["Number_of_rooms"] %></td>
  <td><%= row["Parking_Spots"] %></td>
  <td><%= row["Utility_Package"] %></td>
</tr>
<%end%>
</table>
<form action='/' method='get'>
<button type='submit' class='btn btn-primary'>Return</button>
</form> </body>
